body {
  margin: 0;
  background-color: #f3f3f3;
}

/* header */
header {
  /* height: 60px; */
  width: 100%;
  background-color: skyblue;
  position: fixed;
  z-index: 9999;
}

.container1 {
  display: flex;

}

.headericon {
  margin: auto 15px auto 10px;
  flex-grow: 0;
}


.dropdown {
  padding: 15px 0px 15px 0;
  position: relative;
  display: none;
  flex-grow: 1;
}
.dropdown__btn {
  /* display: block; */
  /* width: 1.5em; */
  /* padding: 0.2em; */
  background: none;
  border: 0;
}
.dropdown__btn.is-open::after {
  content: "";
  width: 100%;
  height: 100%;
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}
.dropdown__btn.is-open + .dropdown__body {
  display: block;
  z-index: 5;
}
.dropdown__body {
  display: none;
  width: 100px;
  background: #fff;
  box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 1px 2px 0 rgba(60,64,67,0.302);
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top: 32px;
  left: 0;
}



.dropdown__list {
  margin: 0;
  padding: 0;
}
.dropdown__item {
  display: block;
}
.dropdown__item-link {
  
  display: block;
  padding: 1em 0.5em;
  font-size: 0.95em;
  text-decoration: none;
  color: #444;
}
.dropdown__item-link:hover {
  /* background: #fbfbfb; */
  opacity: 0.5;
}





h1 {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

.dropdown__btn h1 {
  margin-left: 0;
}

.dropdown__btn h1:hover {
  opacity: 0.5;
}



.header1img {
  width: 100%;
}
/* header */


/* main */

.maintext {
  margin-top: 60px;
  margin-bottom: 60px;
}

.maintext h1 {
  width: 60%;
  margin: 0 auto 0 auto ;
  line-height: 40px;
}


/* section1 */
.mainlist {
  list-style-type: none;
  /* display: flex; */
  margin: 20px 40px 0 40px;
  padding: 0;
 
}

.mainlist img {
  border-radius: 10px 10px 0 0;
}

.mainlist h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.mainlist p {
  text-align: center;
}

.mainlist .icon {
  margin: 25px auto 25px auto;

}

.list1 {
  flex-grow: 1;
  background: #8ABD24;
  /* margin-right: 10px; */
  border-radius: 10px;
}

.list2 {
  flex-grow: 1;
  background: #a56429;
  /* margin-right: 10px; */
  border-radius: 10px;
}

.list3 {
  flex-grow: 1;
  background: skyblue;
  border-radius: 10px;
}

.tex {
  color: #fff;
}

.tex a {
  color: #fff;
}

.tex a:hover {
  opacity: 0.5;
}

.mainlisttext{
  padding-left: 8px;
  padding-right: 8px;
}

.iconlist {
  text-align: center;
}

.icon {
  padding-left: 10px;
  color: gray;
}
/* section1 */


/* section2 */
.infolist {
  list-style: none;
  /* max-width: 800px; */
  width: 90%;
  margin: 40px auto 15px auto;
  padding: 0;
}

.listchi:nth-child(2n+1) {
  background: #99EBFF;
}

.listchi:nth-child(2n) {
  background: white;
}

.listchi {
  padding-bottom: 3px;
}

.listchi h6 {
  margin-top: 0px;
  margin-bottom:0px;
  padding-top: 5px;
}

.listchi p {
  margin-bottom: 0px;
}

.listchi a {
  color: rgb(0, 118, 179);
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  
}

.listchi a:hover {
  border-bottom: 0.5px solid rgb(0, 118, 179);
}


.infolist .fast {
  text-align: center;
  background: #00bfff;
}

.fast h1 {
  padding: 8px 0 8px 0;
  color: #fff;
  font-size: 20px;
}

.button {
  text-align: right;

}

.btn {
  height: 40px;
  width: 200px;
  background: #A9DAED;
  
  border-radius: 5px;
  border: #fbfbfb;
  margin-right: 5%;
  
}

/* section2 */




/* section3 */
.button1 {
  margin-top: 30px;
  text-align: center;
}

.btn1 {
  height: 50px;
  width: 300px;
  background: orange;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  border: #fbfbfb;
}


.mmmlist {
  display: none;
}

.mmlist {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px auto 0 auto;
  max-width: 900px;
}

.mmlist img {
  border-radius: 10px 10px 0 0;
}

.mmlist p {
  text-align: center; 
}

.mmlist a {
  color: #fff;
}

.mmlist a:hover {
  opacity: 0.5;
}



.mlist1 {
  flex-grow: 1;
  background: #8ABD24;
  /* margin-right: 10px; */
  border-radius: 10px;
  margin-right: 10px;
  
}

.mlist2 {
  flex-grow: 1;
  background: #a56429;
  /* margin-right: 10px; */
  border-radius: 10px;
}

/* section3 */

/* footer */
.conte {
  margin-top: 60px;
}

.po h1{
  font-size: 17px;
  opacity: 0.7;
  padding-left: 20px;
  padding-top: 25px;
  
}

.po ul {
  list-style: none;
}

.po li {
  margin-bottom: 20px;
}

.po li:hover {
  opacity: 0.4;
}

.po a {
  color: #0076b3;
  text-decoration: none;
  font-size: 15px;
}

.border {
  border-bottom: 2px solid #e3e3e3;
  margin-left: 20px;
  margin-right: 20px;
}


.iconlist a {
  color: gray;
  margin-top: 30px;
}

.iconlist {
  margin-top: 30px;
}

.icon {
  margin-left: 20px;
}


.footerimg {
  margin: 20px 0 5px 10px ;
}

.containe {
  display: flex;
}

.footertext {
  opacity: 0.3;
  font-size: small;
  line-height: 30px;
  margin: 20px 20px 40px 20px;

}

.iconlist2 {
  padding-top: 20px;
}

.iconlist2 i:hover {
  opacity: 0.4;
}



/* footer */


@media (min-width: 376px) {
  .mmmlist {
    display: block;
  }
}




@media (min-width: 670px) {
  .dropdown {
    display: block;
    display: flex;
  }

  .mainlist {
    display: flex;
    
  }

  .list1 {
    margin-right: 10px;
  }

  .list2 {
    margin-right: 10px;

  }

  .infolist {
    width: 70%;
  }

  .btn {
    margin-right: 15%;
  }

  /* footer */
  .conte {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
  }

  .border {
    padding-top: 70px;
  }

  .po h1{
    padding-left: 0;
    
  }

  .po ul {
    padding-left: 17px;
  }

  .iconlist2 {
    text-align: center;
  }

  /* footer */


}

@media (min-width: 940px) {
  .headericon {
    margin-right: 40px;
  }
  
  .dropdown__body {
    width: 150px;
  }
  
  
  .maintext h1 {
    width: 40%;
  }

  /* footer */
  .conte {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .contai2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .fa-3x {
    margin-left: 10px;

  }

  .fa-instagram {
    padding-left: 0;
    margin-left: 0;
  }
  .fa-podcast {
    margin-right: 20px;
  }

  .footertext {
    margin-right: 0px;
  }

  


  /* footer */

}